#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.0-0
Name=MetterXP-beta
Encoding=UTF-8
Comment=Designed for maximum and better experience.
Path=/usr/local/bin/metterxp-beta
Exec=/usr/bin/metterxp-beta
Icon=/usr/local/bin/metterxp-beta/icon.png
Terminal=false
Type=Application
Categories=System;
