#!/usr/bin/env xdg-open
[Desktop Entry]
Version=3.x.x
Name=MetterXP
Encoding=UTF-8
Comment=Advanced tool box.
Path=/usr/local/bin/metterxp
Exec=/usr/bin/metterxp
Icon=/usr/local/bin/metterxp/icon.png
Terminal=false
Type=Application
Categories=System;Utily;Settings;