<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | MetterXP</title>
    <link rel="stylesheet" href="/metterxp/assets/style.css">
    <link rel="shortcut icon" href="/metterxp/assets/icon.png" type="image/x-icon">
</head>
<body>
    <style>
        header h3{
            margin-left: auto;
            border-right: 20px solid #808080;
            color: black;
        }
    </style>
    <header>
        <a href="/metterxp/tr/"><img src="/metterxp/assets/icon.png" alt=""></a>        
        <nav>
            <ul>
                <li><a href="/metterxp/tr/blog.html">Son Bloglar</a></li>
                <li><a href="/metterxp/tr/whats-new.html">En Yeni Sürüm</a></li>
                <li><a href="/metterxp/tr/help.html">Yardım</a></li>
                <li><a href="https://github.com/MuKonqi/metterxp">GitHub</a></li>
                <li><a href="https://matrix.to/#/#metterxp:kde.org">Matrix</a></li>
            </ul>
        </nav>
        <h3><a href="/metterxp/">Dil Ayarı</a></h3>
    </header>
    <main>{{ content }}</main>
</body>
</html>