<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | MetterXP</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/"><img src="/assets/icon.png" alt=""></a>        
        <nav>
            <ul>
                <li><a href="/blog-yenilik.html">Son Bloglar ve Yeni Sürümler</a></li>
                <li><a href="/kurulum.html">Kurulum</a></li>
                <li><a href="/depolar.html">Tüm Git Depoları</a></li>
                <li><a href="/iletisim.html">Matrix</a></li>
            </ul>
        </nav>
    </header>
    <main>{{ content }}</main>
</body>
</html>