<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | MetterXP</title>
    <link rel="stylesheet" href="/metterxp/assets/style.css">
    <link rel="shortcut icon" href="/metterxp/assets/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/metterxp"><img src="/metterxp/assets/icon.png" alt=""></a>        
        <nav>
            <ul>
                <li><a href="/metterxp/blog-yenilik.html">Son Bloglar ve Yeni Sürümler</a></li>
                <li><a href="/metterxp/kurulum.html">Kurulum</a></li>
                <li><a href="https://github.com/MuKonqi/metterxp">GitHub</a></li>
                <li><a href="https://matrix.to/#/#metterxp:kde.org">Matrix</a></li>
            </ul>
        </nav>
    </header>
    <h1 align="center">{{ page.title }}</h1>
    <main>{{ content }}</main>
</body>
</html>