#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.x
Name=BetterXP
Encoding=UTF-8
Comment=Son kullanıcı için tasarlandı.
Path=/usr/local/bin/BetterXP
Exec=pkexec betterxp
Icon=/usr/local/bin/BetterXP/desktop.png
Terminal=false
Type=Application
Categories=System;